/*/*中间分类部分开始*/
a {
	text-decoration: none;
}
.grid {
	height: 480px;
}
.c1 {
	height: 100%;
	width: 190px;
	background-color: #696466;
}
.c1 ul {
	padding: 10px 0;
}
.c2 {
	height: 100%;
	width: 788px;
	margin-left: 11px;
}
.left,
.right {
	margin-top: 9px;
}
.c3 {
	height: 100%;
	width: 190px;
}
.c1 li {
	color: #fff;
	padding-left: 12px;
	margin-bottom: 8px;
	height: 23px;
	line-height: 23px;
}
.c1 li:hover {
	background-color: #9c9698;
}
.c1 a {
	color: #fff;
	font-size: 14px;
	margin: 0 3px;
}
.c1 a:hover {
	color: #c52929;
}
.father {
	position: relative;
}
.btnleft,
.btnright {
	height: 60px;
	width: 30px;
	background: rgba(0 ,0 ,0 ,0.3);
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.btnright {
	right: 0;
}
.circle {
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25px;
	width: 160px;
	height: 20px;
}
.circle ul li {
	float: left;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}
.circle ul li:hover {
	background-color: orange;
}
.circle .current {
	background-color: orange;
}
.login {
	height: 115px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.login {
	padding: 15px;
	box-sizing: border-box;
}
.login1 {
	position: relative;
	font-size: 12px;
	color: #787878;
	width: 95px;
	height: 60px;
    padding-left: 60px;
	white-space: nowrap;       /*强制一行显示*/
	overflow: hidden;       /*溢出隐藏*/
	text-overflow: ellipsis;       /*超出的部分显示省略号*/
}
.touxiang {
	border: 2px solid #ceaf6a;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.touxiang img {
	border-radius: 50%;
}
.login1-a {
	font-size: 12px;
	color: #787878;
	margin-top: 15px;
	display: inline-block;
}
.login1-a:hover {
	color: #f10215;
}
.login2 a {
	padding: 2px 7px;
	font-size: 12px;
	font-weight: 700;
	color: #f10215;
	border: 2px solid #f10215;
	display: inline-block;
	margin-right: 8px;
}
.login2 a:hover {
	background-color: #f10215;
	color: #fff;
}
.news {
	height: 155px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 7px 13px 0;
	background-color: #fff;
}
.news-news ul {
	margin-top: 15px;
}
.news-news ul li {
	line-height: 22px;
}
.news-news ul li a {
	font-size: 12px;
	color: #787878;
}
.news-news ul li a:hover {
	color: #f10215;
}
.public {
	height: 22px;
	border-bottom: 1px solid #ccc;
}
.red {
	position: absolute;
	width: 28px;
	height: 2px;
    background-color: #f10215;
    bottom: 265px;
}
.btn1,
.btn2 {
	background-color: #fff;
	font-size: 14px;
	padding: 2px 10px 2px 0;
	cursor: pointer;
	border-right: 1px solid #ccc;
	color: #4c4c4c;
}
.btn1:hover,
.btn2:hover {
	color: #f10215;
}
.btn2 {
	border: 0;
	padding-left: 15px;
}
.public a {
	font-size: 14px;
	color: #7b7b7b;
	float: right;
	margin-top: 2px;
}
.public a:hover {
	color: #f10215;
}
.expand {
	height: 208px;
	background-color: #fff;
    overflow: hidden;
}
.expand ul {
	width: 195px;
}
.expand ul li {
	float: left;
	width: 47px;
	height: 69px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;}
.expand ul li a {
	display: block;
	padding-top: 15px;
	color: #787878;
	font-size: 12px;
	text-align: center;
}
.expand ul li a:hover {
	color: #f10215;
}
.expand ul li i {
	display: block;
	background-color: pink;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../images/sprite.jpg);
} 
.expand ul li:nth-child(1) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(2) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(3) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(4) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(5) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(6) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(7) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(8) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(9) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(10) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(11) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}
.expand ul li:nth-child(12) i {
    width: 18px;
    height: 23px;
    background-position: 0 0;
}

#side {
	position: absolute;
	left: 0;
	top: 252px;
}
#big {
	position: absolute;
	left: 80px;
	top: 252px;
	display: none;
}
/*中间分类部分结束*/